$yellow: #f5c610;
$blue: #00cad3;
$green: #a3e339;
$lightgreen: rgb(149, 210, 51);
$red: #C21807;
$pink: #ff5466;
$gray: #e1e1e1;
$white: #fff;

@import "~materialize-css/dist/css/materialize.min.css";

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "BrunoAceSC";
    src: local("BrunoAceSC"),
        url("./fonts/Bruno_Ace_SC/BrunoAceSC-Regular.ttf") format("truetype");
    font-weight: normal;
}

* {
    font-family: 'Nunito';
    margin: 0;
}

html,
body {
    height: 100%;
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto
}

.brand-logo {
    font-family: 'BrunoAceSC';
}

.not-active {
    color: $gray;
}

.waves-effect {
    background-color: $green;

    &:hover {
        background-color: $lightgreen;
    }
}

button a {
    color: $white;
}

button+button {
    margin-left: 10px;
}

h1 {
    text-align: center;
}

nav {
    background-color: $pink;
}

.line {
    display: flex;
    justify-content: space-between;
}

.row .col {
    padding: 0;

    &.s10 {
        width: 100%;
    }
}

.row {

    td,
    th {
        text-align: center;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;

    li {
        cursor: pointer;
    }
}

.selected {
    a {
        color: $pink !important;
    }
}

.transport-table {
    td {
        margin: 0px;
        padding: 5px;
    }

    tr {
        cursor: pointer;
    }
}

h5 {
    text-align: center;
}

.container {
    width: 95%;
}

.centered {
    display: flex;
    justify-content: center;
}

.code404 {
    width: 60%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        margin-bottom: 0;
        width: 80%;
    }
}

.datepicker {
    color: #000;
}

.schedule {
    margin-bottom: 500px; // TODO 
}

.selectedstopinfo {
    border: 1px solid #ddd;
    text-align: right;

    .stop-name {
        color: #333;
    }

    .transport-table {
        tbody {
            cursor: pointer;
        }
    }
}

.favourite {
    background-color: rgba($pink, 0.4);
}

.favourite:hover {
    background-color: rgba($pink, 0.6);
    transition: 0.5s;
}

.not-favourite {
    background-color: $white;
}

.not-favourite:hover {
    background-color: $gray;
    transition: 0.5s;
}

.chosen {
    background-color: $blue;
    color: $white;
}

.add-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    input {
        margin-bottom: 0;
    }
}

.showordelete-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    input {
        margin-bottom: 0;
    }
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0px;
    margin: 5px;
    margin-top: 30px;
    height: 20px;
}