@import "~materialize-css/dist/css/materialize.min.css";

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
     url("./styles/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "BrunoAceSC";
    src: local("BrunoAceSC"),
     url("./styles/fonts/Bruno_Ace_SC/BrunoAceSC-Regular.ttf") format("truetype");
    font-weight: normal;
}

* {
    font-family: 'Nunito';
}

.brand-logo {
    font-family: 'BrunoAceSC';
}